header{
    position: fixed;
    left: 2vh;
    top: 2vh;
    height: 85vh;
    width: 30vh;
    background-color: #5FCB71;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    text-align: center;
    color: #FFFFFF;
}

h1{
    color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0px;
    font-weight: bold;
}

#header-nav{
    padding: 2rem 1.5rem;
}

#header-image{
    border-radius: 50%;
    max-width: 60%;
}

.inline-list{
    padding-left: 0;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.inline-list-element{
    display: inline-block;
}

.inline-list-element:not(:last-child) {
    margin-right: .5rem;
}

#header-list-sections{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    text-align: left;
    flex-direction: row;
}

.div-main{
    margin-left: 32vh;
    background-color: red;
}

.image-url{
    border-radius: 50%;
    height: 1cm;
    width: 1cm;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
